* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}


body {
  background-color: rgb(221, 202, 125);
}

nav {
  display: flex;
  flex-direction: row;
  background-color :rgb(162,112,53);
  height: 70px;
  align-items: center;
  justify-content: space-around;
  
}

.lista {
  display: flex;
  flex-direction: row;
  gap:20px;
  list-style: none;
  margin-left: 600px;
}

.logo {
  margin: 0px;
}

.imagen {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  width: 70px;
}

nav .lista :hover {
  color: beige;
  cursor:pointer;
  position: static;
}

a {
  color: black;
  font-weight: 600;
  font-family: sans-serif;
  border: 2px solid beige;
  padding: 10px 8px;
  border-radius: 10px;

}

#presentacion {
  margin-top: 65px;
  margin-left: 350px;
  padding: 70px 0px;
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(184, 139, 74);
  border-radius: 25px;
}

.presentacion-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  gap: 30px;
  width: 500px;
}
.presentacion-info h1 {
  font-size: 30px;
  font-weight: 800;
  color: snow;
}
.presentacion-info p {
  font-weight: 600;
  color:black;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}

.presentacion-info a {
  width: 100px;
  background-color: chocolate;
  color: wheat;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  justify-content: space-between;
  font-size: 14px;
  gap: 50;
  border: 5px chocolate solid;
  gap: 10px;
}

.description-text {
  margin-top: 55px;
  color: whitesmoke;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: orangered;
  margin-left: auto;
  margin-right: auto;
  padding: 8px, 10px;
  border-radius: 15px;
  font-size: 18px;
}
